/*header background color yellow*/
.header {
  color: black;
  text-align: center;
  text-decoration: underline;
  font-family: 'Yusei Magic', sans-serif;
}

/* soccer paragraphs background blue */
p.soccer {
  color: blue;
  max-width: 50%
}

/*name id background red*/
#name {
  background-color: #ff0000;
}

/* all background colors white */
* {
  background-color: rgb(255, 255, 255);
}

p {
  background-color: rgb(255, 0, 0, .1); 
}

a[colorLink] {
  background-color: hsl(120, 100%, 10%);
}

a:hover {
  color: hsla(100, 100%, 10%, 0.3);
}
a:active {
  background-color: yellow;
}

li.soccer {
  border-style: solid; 
  border-width: medium;
  border-color: red;
  border-radius: 5px;
  min-width: 50%;
}

li {
  font-size: 2em; 
}

h1 {
  font-size: 3em; 
}

li.hobby {
  border-style: solid;
  font-size: 1em;
  background-color: lightgrey;
  width: 300px;
  border: 15px solid red;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  position: relative;
}

pre {
   margin: 25px 50px 75px 100px;
   padding: 25px 50px 75px 100px;
   position: static;
}

svg {
  margin: auto;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  
}

p.love {
  display: none; 
}

p.computers{
  display: inline; 
}

tr td {
  background-color: yellow;
}

tr + td {
  background-color: blue;
}

div ~ p {
  background-color: yellow; 
}

  





